.main {
  margin-bottom: 9.8rem;
}

.bannerSection {
  width: 100%;
  height: 34rem;
  background: url(/intro-background.png) no-repeat center, linear-gradient(0deg, #FFFFFF 0%, rgba(250, 250, 250, 0.2) 50%, #FAFAFA 100%);
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.productsSection {
  margin-top: 2rem;
}

.subtitle {
  color: var(--gray-200);
  font-size: 2rem;
  font-family: var(--font-Baloo);
  line-height: 130%;
  font-weight: 800;
}